html {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav {
  background-color: #222222;
}

li {
  border: 1px solid black;
  padding: .5em;
  float: left;
  width: 50%;
  background-color: #222222;
}

ul {
  background-color: #222222;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  margin: 0;
}

img {
  /* float images */
  width: 45%;
}

header {
  color: white;
  background-color: #e7001d;
  position: relative;
  overflow: hidden;
}

div {
  width: 100%;
  position: relative;
}

h1 {
  text-shadow: 2px 2px black;
  position: absolute;
  margin: 0;
  color: white;
  text-align: center;
  width: 100%;
}

h2 {
  margin: 0;
  padding: 1em;
}

p {
  font-size: .8rem;
  padding: .5em;
  margin: 0;
}

footer {
  font-size: .8rem;
  text-align: center;
  background-color: #222222;
  color: white;
  padding: 1em;
}

nav a {
  width: 100%;
}

header{
  background-image: url("../images/medallion.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6em;

}

/*.medallion {
  padding-top: 1em;
  margin: 0;
  text-align: center;
  width: 100%
}*/



header p{
  text-align: center;
  font-size: 1.2em;
}

header .symbol{
  font-size: 3em;
  padding-top: .5em;
  padding-bottom: 0;
}

/*p.top{
font-size: 4em;
}*/

.header {
  text-shadow: 2px 2px black;
  padding-bottom: 1rem;
  font-size: 1rem;
  padding-bottom: 1.5em;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

a {
  color: white;
  text-decoration: none;
}

.zodiac-header, .zodiac-header-white {
  text-align: center;
}

.zodiac-header-white {
  color: white;
}

.banner {
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.dragon {
  margin: 0;
  background-color: #e4c22a;
}

.text  {
  font-size: .8rem;
  text-align: center;
  font-style: italic;
}

.white-text {
  font-size: .8rem;
  text-align: center;
  color: white;
}

.goat {
  margin: 0;
  background-color: #222222;
}

.rooster {
  margin: 0;
  background-color: #bc0017;
}

.ox {
  margin: 0;
  background-color: #e4c22a;
}
